* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ededf2;
    color: #c59bca;
}

/* =========================
   APP
========================= */

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

/* =========================
   SIDEBAR
========================= */

.sidebar {
    width: 360px;
    min-width: 300px;
    height: 100%;
    background: #817c83;
    border-right: 1px solid #d1d7db;
    display: flex;
    flex-direction: column;
}

/* Sidebar header */

.sidebar-header {
    height: 65px;
    padding: 10px 16px;
    background: #4f0c61;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile h3 {
    font-size: 15px;
    font-weight: 600;
}

.profile span {
    font-size: 12px;
    color: #8f7395;
}

.avatar,
.chat-avatar,
.header-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #eeebef;
    color: rgb(29, 2, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
}

.header-icon {
    font-size: 25px;
    color: #54656f;
    cursor: pointer;
}

/* Search */

.search-box {
    height: 55px;
    padding: 8px 12px;
    background: #fff;
    display: flex;
    align-items: center;
}

.search-box span {
    font-size: 20px;
    color: #667781;
    margin-right: 8px;
}

.search-box input {
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    background: #f0f2f5;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 14px;
}

.search-box input:focus {
    outline: none;
}

/* Chat list */

.chat-list {
    flex: 1;
    overflow-y: auto;
}

.chat-item {
    height: 72px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-bottom: 1px solid #41094b;
}

.chat-item:hover {
    background: #f5f6f6;
    color: #2d023a;
}

.chat-item.active {
    background: #e9edef;
    color: #2d023a;
}

.chat-avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-color: #2d023a;

}

.online-dot {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #39173a;
    border: 2px solid white;
}

.chat-info {
    flex: 1;
    min-width: 0;
}

.chat-top {
    display: flex;
    justify-content: space-between;
}

.chat-top strong {
    font-size: 15px;
    font-weight: 500;
}

.last-message {
    margin-top: 5px;
    font-size: 13px;
    color: #3c1c4e;
}

.no-users {
    text-align: center;
    padding: 70px 20px;
    color: #291348;
}

.no-users div {
    font-size: 40px;
    margin-bottom: 15px;
}

.no-users p {
    font-size: 15px;
    margin-bottom: 5px;
}

.no-users small {
    font-size: 12px;
}

/* =========================
   CHAT WINDOW
========================= */

.chat-window {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f2eef3;
    min-width: 0;
}

/* Header */

.chat-header {
    height: 65px;
    padding: 8px 18px;
    background: #5e1068;
    border-bottom: 1px solid #d1d7db;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-avatar {
    width: 45px;
    height: 45px;
}

.chat-profile h3 {
    font-size: 15px;
    font-weight: 500;
}

.chat-profile span {
    font-size: 12px;
    color: #667781;
}

.chat-actions {
    display: flex;
    gap: 5px;
}

.chat-actions button,
.input-icon,
.send-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.chat-actions button {
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #54656f;
}

/* =========================
   MESSAGES
========================= */

.messages {
    flex: 1;
    padding: 20px 7%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #fbf8fc;
    background-image:
        radial-gradient(
            rgba(0, 0, 0, 0.025) 1px,
            transparent 1px
        );
    background-size: 18px 18px;
}

.date-divider {
    display: flex;
    justify-content: center;
    margin: 5px 0 18px;
}

.date-divider span {
    background: #ffffff;
    padding: 6px 12px;
    border-radius: 7px;
    font-size: 11px;
    color: #667781;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.message-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 7px;
}

.message-row.mine {
    justify-content: flex-end;
}

.message-bubble {
    max-width: 65%;
    min-width: 70px;
    padding: 7px 9px 5px;
    border-radius: 8px;
    background: rgb(54, 3, 57);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.message-row.mine .message-bubble {
    background: #2d023a;
}

.message-text {
    font-size: 14px;
    line-height: 1.45;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-right: 8px;
}

.message-time {
    margin-top: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    color: #f8f1f9;
}

.ticks {
    color: #53bdeb;
    font-size: 12px;
}

/* =========================
   INPUT
========================= */

.message-input-area {
    min-height: 62px;
    padding: 9px 15px;
    background: #360950;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-icon {
    font-size: 25px;
    color: #54656f;
    width: 35px;
}

.message-input-area input {
    flex: 1;
    height: 43px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgb(233, 230, 230);
    padding: 0 15px;
    font-size: 14px;
}

.send-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #480567;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

.send-button:hover {
    background: #730791;
}

.send-button:disabled {
    background: #b8c1c5;
    cursor: default;
}

/* =========================
   EMPTY CHAT
========================= */

.empty-window {
    align-items: center;
    justify-content: center;
}

.welcome {
    text-align: center;
    color: #eff4f6;
}

.welcome-icon {
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: #f5f7f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
}

.welcome h1 {
    font-size: 28px;
    font-weight: 400;
    color: #073656;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 14px;
}

/* =========================
   LOGIN
========================= */

.login-page {
    width: 100%;
    height: 100vh;
    background: #f9f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 390px;
    max-width: 90%;
    padding: 40px;
    background: rgb(174, 104, 197);
    border-radius: 14px;
    text-align: center;
    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.2);
}

.login-logo {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: #89179d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.login-card h1 {
    color: #251825;
    font-size: 28px;
    margin-bottom: 8px;
}

.login-card p {
    color: #10171b;
    font-size: 14px;
    margin-bottom: 25px;
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.login-card input {
    height: 48px;
    border: 1px solid #d1d7db;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 14px;
    outline: none;
}

.login-card input:focus {
    border-color: #3c043d;
}

.login-card button {
    height: 48px;
    border: none;
    border-radius: 8px;
    background: #a944d5;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.login-card button:hover {
    background: #4f0360;
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #01233c;
    border-radius: 10px;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 700px) {

    .sidebar {
        width: 100%;
        min-width: 100%;
    }

    .chat-window {
        display: none;
    }

    .app.chat-open .sidebar {
        display: none;
    }

    .message-bubble {
        max-width: 80%;
    }

    .messages {
        padding: 15px 4%;
    }
}

/* =========================
   SIDEBAR ACTIONS
========================= */

.sidebar-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-user-button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background: #f4f3f4;
    color: rgb(28, 19, 33);
    font-size: 25px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.add-user-button:hover {
    background: #d6cad8;
    transform: scale(1.05);
}


/* =========================
   ADD USER POPUP
========================= */

.add-user-overlay {
    position: fixed;
    inset: 0;

    background: rgba(45, 2, 56, 0.844);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}


.add-user-modal {
    width: 380px;
    max-width: 90%;

    background: white;

    border-radius: 12px;

    padding: 22px;

    box-shadow:
        0 15px 50px rgba(0, 0, 0, 0.25);

    animation: modalOpen 0.18s ease;
}


@keyframes modalOpen {

    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
}


.modal-header h3 {
    font-size: 20px;
    color: #111b21;
}


.modal-header button {
    width: 32px;
    height: 32px;

    border: none;
    background: transparent;

    font-size: 26px;
    color: #667781;

    cursor: pointer;
}


.add-user-modal p {
    color: #667781;
    font-size: 13px;

    margin-bottom: 18px;
}


.add-user-modal > input {
    width: 100%;
    height: 45px;

    border: 1px solid #d1d7db;
    border-radius: 7px;

    padding: 0 13px;

    font-size: 14px;

    outline: none;
}


.add-user-modal > input:focus {
    border-color: #a82fb8;
}


.modal-buttons {
    display: flex;
    justify-content: flex-end;

    gap: 10px;

    margin-top: 20px;
}


.modal-buttons button {
    height: 40px;

    padding: 0 18px;

    border-radius: 7px;

    border: none;

    font-size: 14px;

    cursor: pointer;
}


.cancel-button {
    background: #f0f2f5;
    color: #54656f;
}


.cancel-button:hover {
    background: #e4e6e7;
}


.add-button {
    background: #7300a8;
    color: white;
}


.add-button:hover {
    background: #72008f;
}